*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F2F1ED;
  overflow: hidden;
}

select {
  cursor: pointer;
}

textarea, input, select {
  font-family: inherit;
}

button {
  font-family: inherit;
}
